In [1]:
#Import dependencies
import pandas as pd
import json
import requests
import numpy as np
from sqlalchemy import create_engine

In [3]:
# Read the csv files
source=pd.read_csv('listings.csv')
source=source.drop_duplicates()
source2=pd.read_csv('postcodeLGA.csv')
source2=source2.drop_duplicates(subset=['postcode'])
source3=pd.read_csv('LGA_ID.csv')
source3=source3.drop_duplicates()
source4=pd.read_csv('VIC.csv')
# Merged the files
source=source.merge(source4, left_on=['suburb','postcode'],right_on=['Suburb','Postcode'],how="outer")
source=source.merge(source2,left_on='Postcode',right_on=['postcode'],how='outer')
source=source.merge(source3, left_on='LGA',right_on='lga_desc',how="outer")
LGA_ID=source3
postcodeLGA=source[["Domain_id","Suburb","Postcode","Lat","Lng","lga_ID"]]
# Drop duplicates
postcodeLGA=postcodeLGA.drop_duplicates()
# postcodeLGA=postcodeLGA.dropna(subset=["lga_ID"], how= 'all')
VIC=source[["Domain_id","medianSoldPrice","numberSold","highestSoldPrice","lowestSoldPrice","medianSaleListingPrice",
            "numberSaleListing","highestSaleListingPrice","lowestSaleListingPrice","auctionNumberAuctioned",
            "auctionNumberSold","daysOnMarket","medianRentListingPrice","numberRentListing","highestRentListingPrice","lowestRentListingPrice"]]
VIC=VIC.drop_duplicates()
#Drop NaN values
VIC=VIC.dropna(subset=['highestSoldPrice', 'numberSaleListing', 'lowestSaleListingPrice'], how= 'all')
VIC
Listings=source[["Domain_id","streetNumber","streetName","streetType","geoLocation",
                "propertyType","bedrooms","bathrooms","carspaces","propertyDetailsUrl",
                "price","unitNumber","second_ID","canonicalUrl","areaSize","photos"]]
Listings=Listings.dropna(subset=["bedrooms","bathrooms","carspaces", "areaSize"], how= 'all')
postcodeLGA=postcodeLGA.drop_duplicates()
postcodeLGA=postcodeLGA.dropna(subset=["Domain_id","Suburb","Postcode"], how= 'all')
postcodeLGA

      Domain_id          Suburb  Postcode        Lat         Lng  lga_ID
0         627.0      Abbotsford    3067.0 -37.802360  144.998362    12.0
1        1047.0      Alphington    3078.0 -37.782487  145.019024    12.0
2       14197.0       Fairfield    3078.0 -37.782487  145.019024    12.0
3        8247.0   Carlton North    3054.0 -37.784370  144.969444    12.0
5       33537.0    Princes Hill    3054.0 -37.784370  144.969444    12.0
...         ...             ...       ...        ...         ...     ...
2713    15047.0   French Island    3921.0 -38.348935  145.336470    82.0
2714    32967.0  Point Lonsdale    3225.0 -38.240709  144.664348    37.0
2715    33757.0     Queenscliff    3225.0 -38.240709  144.664348    37.0
2716    38417.0        Swan Bay    3225.0 -38.240709  144.664348    37.0
2717    38457.0     Swan Island    3225.0 -38.240709  144.664348    37.0

[2300 rows x 6 columns]

In [4]:
# Saving the output to store in postgres SQL
postcodeLGA.to_csv("postcodeLGA.csv", index = False)

In [5]:
# Saving the output to store in postgres SQL
VIC.to_csv("VIC.csv", index = False)

In [6]:
# Saving the output to store in postgres SQL
Listings.to_csv("Listings.csv", index = False)